.header {
  background-color: rgba(69, 69, 240, 0.795);
}
.input {
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  width: 300px;
  height: 30px;
  padding-left: 30px;
}
.input:hover,
.input:focus {
  outline: none;
  border-color: transparent;
}
.form {
  /* border: 1px solid black; */
  width: fit-content;
  margin: 0 auto;
  /* display: flex;
  justify-content: center; */
  padding: 4px;
  position: relative;
}
.button {
  /* border: 1px solid black; */
  position: absolute;
  left: 4px;
  top: 10%;
  background-color: transparent;
  width: fit-content;
  padding: 4px;
}
.button:hover,
.button:focus {
  border: none;
}
.iconbtn {
  font-size: 18px; /* Adjust the icon size */
  color: #888; /* Adjust color */
}