.header {
    height: 70px;
    background-color: rgb(51, 51, 247);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
position: relative;
}

.input {
    padding: 10px;
    padding-left: 40px;
    border: none;
    border-radius: 20px;
    outline: none;
    width: 300px;
}
.input::placeholder {
    font-size: 14px;
}

.searchBtn{
 background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-40%);
}