.modal {
  padding: 0;
  border: none;
  background-color: transparent;
}
.image {
  width: auto;
  height: 90vh;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
}
.loader {
  margin: 0 auto;
}